/* You can add global styles to this file, and also import other style files */

:root {
    --efc-primary-color: #FFF;
    --efc-text-color: #7030A0;
    --efc-text-color-reverse: #333;
    --efc-primary-hover: #622B8C;
    --efc-border: #E0E0E0;
    --efc-upt-blue: #00145F;
}

html,
body {
    --mdc-filled-text-field-caret-color: var(--efc-upt-blue);
    --mdc-outlined-text-field-caret-color: var(--efc-upt-blue);
    --mdc-filled-text-field-focus-active-indicator-color: var(--efc-upt-blue);
    --mdc-filled-text-field-focus-label-text-color: var(--efc-upt-blue);
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}