/* You can add global styles to this file, and also import other style files */

:root {
    --efc-primary-color: #7030A0;
    --efc-text-color: #FFF;
    --efc-text-color-reverse: #333;
    --efc-primary-hover: #622B8C;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}