<div class="dialog">
    <div class="dialog__title">
        <ng-container *ngIf="data?.id; else noData"> Editeaza cadru didactic </ng-container>
        <ng-template #noData> Adauga cadru didactic </ng-template>
    </div>
    <div class="dialog__content">
        <form *ngIf="teacherForm" [formGroup]="teacherForm">
            <mat-form-field>
                <mat-label>Nume</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Prenume</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input [disabled]="data?.id" matInput formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Facultati</mat-label>
                <mat-select [compareWith]="compareWithFn" formControlName="universities" multiple>
                    <mat-select-trigger>
                        {{teacherForm.get('universities')!.value?.[0]?.name || ''}}
                        <span *ngIf="(teacherForm.get('universities')!.value?.length || 0) > 1"
                            class="example-additional-selection">
                            (+{{(teacherForm.get('universities')!.value?.length || 0) - 1}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let university of universities | async"
                        [value]="university">{{university?.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="dialog__content__buttons">
                <button type="button" mat-button (click)="close()">ANULEAZA</button>
                <button [disabled]="teacherForm.invalid" mat-button (click)="save()">SALVEAZA</button>
            </div>
        </form>
    </div>
</div>