<div class="page">
    <!-- <div class="students__actions">
        <button mat-button class="students__actions__button">
            <mat-icon>add</mat-icon>
            ADAUGA
        </button>
        <button mat-button class="students__actions__button">
            <mat-icon>delete</mat-icon>
            STERGE
        </button>
    </div> -->

    <div class="page__top">
        Baze sportive
    </div>
    <div class="page__table">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nume </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Adresa </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="page__table__paginator" [hidePageSize]="true" [pageSizeOptions]="[20]"
            showFirstLastButtons>
        </mat-paginator>
    </div>

</div>