<div class="dialog">
    <div class="dialog__title">
        <ng-container *ngIf="data?.id; else noData"> Editeaza baza sportiva </ng-container>
        <ng-template #noData> Adauga baza sportiva </ng-template>
    </div>
    <div class="dialog__content">
        <form [formGroup]="sportBaseForm">
            <mat-form-field>
                <mat-label>Nume</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Adresa</mat-label>
                <textarea matInput formControlName="address"></textarea>
            </mat-form-field>

            <div class="dialog__content__buttons">
                <button type="button" mat-button (click)="close()">ANULEAZA</button>
                <button [disabled]="sportBaseForm.invalid" mat-button (click)="save()">SALVEAZA</button>
            </div>
        </form>
    </div>
</div>