.weekly-scheduler {
    margin-left: 10px;
    position: relative;

    &__days {
        justify-content: space-evenly;
        width: 100%;
        display: flex;

        .spacer {
            width: 40px;
            padding-right: 6px;
        }

        &__day {
            min-height: 50px;
            flex: 1 1 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-right: 1px solid;
            font-size: 16px;
            font-weight: 600;
        }

        &__day:last-child {
            border-right: none;
        }
    }

    &__hours {
        display: flex;
        flex-direction: column;

        &__section {
            min-height: 160px;
            display: flex;

            .hour {
                width: 40px;
                margin-top: -8px;
                display: flex;
                justify-content: flex-end;
                padding-right: 6px;
                font-size: 16px;
                font-weight: 600;
            }

            &__schedule {
                border-top: 1px solid var(--efc-border);
                display: flex;
                flex: 1 1 0px;
                border-right: 1px solid;
                flex-direction: column;

                padding: 10px 10px 0px 10px;
            }

            &__schedule:last-child {
                border-right: none;
            }
        }
    }
}

.schedule-container {
    position: relative;
    font-size: 14px;
    border-radius: 4px;
    min-height: 80px;
    background: #FFF;
    cursor: pointer;
    display: flex !important;
    flex-direction: row;
    margin-bottom: 10px;

    .color-container {
        border-radius: 2px 0px 0px 2px;
        width: 30px;
        display: flex;
        justify-content: center;
    }

    .details {
        padding: 6px;

        .title {
            font-weight: 600;
        }
    }

    .icons {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        primary-button {
            --mdc-icon-button-state-layer-size: 20px;
        }

        mat-icon {
            font-size: 20px;
        }
    }
}

.lightgrey {
    background: #d3d3d369;
}

.active {
    margin-top: 4px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.full {
    color: #007E60;
    font-weight: bold;
}