<div class="base">
    <mat-toolbar class="base__toolbar">
        <button mat-icon-button class="example-icon" (click)="openCloseSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>EFS</span>
        <span class="spacer"></span>
        <span class="base__toolbar__email">{{getUserEmail()}}</span>
        <img class="base__toolbar__logo" src="./../../../assets/images/logo3.jpeg" />
    </mat-toolbar>
    <mat-drawer-container class="base__container" autosize>
        <mat-drawer class="base__container__sidenav" #sidenav [opened]="true" mode="side">
            <div class="base__container__sidenav__start">
                <button class="base__container__sidenav__item" mat-button *ngFor="let item of sidenav_config?.start"
                    (click)="navigateTo(item)" [ngClass]="{'active-button': isActive(item.route)}">
                    <mat-icon>{{item.icon}}</mat-icon>
                    {{item.title}}
                </button>
            </div>

            <div class="base__container__sidenav__end">
                <button class="base__container__sidenav__item" mat-button *ngFor="let item of sidenav_config?.end"
                    (click)="navigateTo(item)">
                    <mat-icon>{{item.icon}}</mat-icon>
                    {{item.title}}
                </button>
            </div>
        </mat-drawer>
        <router-outlet></router-outlet>
    </mat-drawer-container>
</div>
